@font-face {
    font-family: 'MyFont';
    src: url(Norse-Bold.otf) format('opentype');
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: Norse-Bold, sans-serif;
}

.image-container {
    width: 500px;
    height: 100vh;
    position: relative; 
  }
  
.image-container img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  
.banner-text {
    display: flex;
    position: absolute;
    width: 100%;
    top: 20%;
    justify-content: center;
    font-size: 6rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    opacity: 1;
    height: 150px;
    align-items: center;
    font-family: 'MyFont', sans-serif;
  }

.banner-text > img {
    width: 100px;
    height: 80%;
    object-fit: contain;
}

.right {
    display: flex;
    flex-direction: column;
    background-color: #f8f9faef;
    color: black;
    width: 50vw;
    font-size: 16px;
}

.header-text {
    height: 33vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    margin-left: 5%;
    margin-bottom: 2%;
}

.form-container {
    height: 27vh;
    background-color: white;
}

.form-container > h3,
.form-main,
.footer-div {
    margin-left: 5%;
    display: flex;
}

.form-divs {
    margin-right: 8%;
}

.form-div {
    display: flex;
    flex-direction: column;
    margin-bottom: 8%;
}

.long-input {
    width: 250px;
}

.footer-div {
    flex-direction: column;
}

.account {
    margin-top: 5%;
    width: 220px;
    background-color: #596D48;
    border-radius: 5px;
    height: 50px;
    font-weight: bold;
    font-size: 16px;
}